/* GLOBAL */
* {
  font-family: sans-serif;
  cursor: none;
  margin: 0;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(20, 20, 20);
  height: 100vh;
}

/* trailer cursor */
#trailer {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 20px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 10px;
  left: 10px;
  height: 150px;
  transition: height 500ms ease, background-color 500ms ease, opacity 500ms ease;
  position: fixed;
  width: calc(100vw - 24px);
  border: 3px solid white;
  border-radius: 10px;
  opacity: 0.75;
}

#navbar a {
  text-decoration: none;
  font-size: 30px;
}

/* content blocks */
.content {
  border: 3px solid white;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

h2 {
  font-size: 30px;
  font-weight: 100;
}

/* sentence counter UI */
#textBox {
  width: 100%;
  height: 300px;
  background-color: rgb(20,20,20);
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  resize: none;
  font-size: 18px;
}

#pSpan {
  font-weight: bold;
  font-size: 20px;
}
